body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: url('https://raw.githubusercontent.com/iurimega13/configs/master/wallpapers/900572.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  .container {
      text-align: center;
      padding: 20px;
    }
   .page-title {
      color: #ffffff;
      margin: 0 0 5px;
    }
    
    .page-subtitle {
      color: #ffffff;
      margin-top: 5px;
    }
    
    .page-logo {
      width: 200px;
    }
    
  .formFilme {
   position: relative;
    left: 40%;  
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .formFilme h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #FF292B;
    text-align: center;
  }
  
  .formFilme .user-box {
    position: relative;
  }
  
  .formFilme .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #FF292B;
    outline: none;
    background: transparent;
  }
  .formFilme .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FF292B;
    pointer-events: none;
    transition: .5s;
  }
  
  .formFilme .user-box input:focus ~ label,
  .formFilme .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .formFilme form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FF292B;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .formFilme a:hover {
    background: #FF292B;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF292B,
                0 0 25px #FF292B,
                0 0 50px #FF292B,
                0 0 100px #FF292B;
  }
  
  .formFilme a span {
    position: absolute;
    display: block;
  }
  
  .formFilme a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FF292B);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .formFilme a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF292B);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .formFilme a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FF292B);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .formFilme a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF292B);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  #poster{
    margin: 5px;
    padding: 10px;
    text-align: left;
    display: inline-block;
    position: relative;
    max-width: 300px;
    background: rgba(0,0,0,.5);
    
  }
  #poster:hover{
    box-sizing: border-box;
    box-shadow: 0 0 5px #FF292B,
                0 0 25px #FF292B,
                0 0 50px #FF292B,
                0 0 100px #FF292B;
    border: 2px;
  }
  #capa{
    display: block;
    width: 100%;
    height: auto
  }
  
  #nome{
    opacity: 0;
  text-align: center;
  bottom: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, .75);
  width: 142px;
  padding: 20px;
  color: white;
  transition: .6s;
  }
  
  #poster:hover #nome{
    opacity: 1;
  }